/* *{
  font-family: 'Public Sans', sans-serif;
} */

.App {
  text-align: center;
  font-family: 'Public Sans', sans-serif;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
  color: transparent /* #61dafb; */
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.userAdmin {
	display: flex;
}

.userAdminMain {
	margin-top: 80px;
	padding: 10px;
	width: 100%
}

@media (max-width: 600px) {
	.userAdminMain {
		margin-top: 70px;
	}
}


.path-0{
animation:pathAnim-0 4s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}
@keyframes pathAnim-0{
	0% {
	d: path("M 0,400 C 0,400 0,200 0,200 C 177.7333333333333,173.73333333333335 355.4666666666666,147.46666666666667 530,155 C 704.5333333333334,162.53333333333333 875.8666666666666,203.86666666666665 1027,217 C 1178.1333333333334,230.13333333333335 1309.0666666666666,215.06666666666666 1440,200 C 1440,200 1440,400 1440,400 Z");
}
	25%{
	d: path("M 0,400 C 0,400 0,200 0,200 C 173.86666666666667,243.73333333333335 347.73333333333335,287.4666666666667 501,269 C 654.2666666666667,250.53333333333333 786.9333333333334,169.86666666666667 940,148 C 1093.0666666666666,126.13333333333334 1266.5333333333333,163.06666666666666 1440,200 C 1440,200 1440,400 1440,400 Z");
}
	50%{
	d: path("M 0,400 C 0,400 0,200 0,200 C 178.53333333333336,158.66666666666666 357.0666666666667,117.33333333333331 510,135 C 662.9333333333333,152.66666666666669 790.2666666666667,229.33333333333337 941,250 C 1091.7333333333333,270.66666666666663 1265.8666666666668,235.33333333333331 1440,200 C 1440,200 1440,400 1440,400 Z");
}
	75%{
	d: path("M 0,400 C 0,400 0,200 0,200 C 197.19999999999993,163.86666666666667 394.39999999999986,127.73333333333333 553,127 C 711.6000000000001,126.26666666666667 831.6000000000001,160.93333333333334 973,179 C 1114.3999999999999,197.06666666666666 1277.1999999999998,198.53333333333333 1440,200 C 1440,200 1440,400 1440,400 Z");
}
	100%{
	d: path("M 0,400 C 0,400 0,200 0,200 C 177.7333333333333,173.73333333333335 355.4666666666666,147.46666666666667 530,155 C 704.5333333333334,162.53333333333333 875.8666666666666,203.86666666666665 1027,217 C 1178.1333333333334,230.13333333333335 1309.0666666666666,215.06666666666666 1440,200 C 1440,200 1440,400 1440,400 Z");
}                   
}
